<div class="left-panel">
  <div class="header">
    <img class="logo" src="assets/svg/future-for-nature-logo.svg">
    <div class="image-placeholder"></div>
  </div>
  <div class="flex flex-column flex-1 justify-space-between">
    <div class="flex flex-column">
<!--      <button class="flex-1" (click)="applyFilter()">Apply Saved Filter</button>-->
<!--      <button class="flex-1 m-t-10" (click)="createInviteCSV()">Generate Invite CSV</button>-->
      <p class="p-10 text-center text-italic">
        This sidebar will be used for saved filters and actions (f.e.: create a csv file with all relations to invite for the event)
      </p>
    </div>
    <div class="flex">
      <button class="secondary flex-1" (click)="logOut()"><i class="fas fa-power-off m-r-10"></i>Log Out</button>
      <button (click)="back()" class="flex-1"><i class="fas fa-angle-left m-r-10"></i>Back</button>
    </div>
  </div>
</div>

<div class="flex flex-column flex-1 overflow-hidden">
  <div class="flex align-center justify-space-between app-header">
    <h1>Customer Relationship Management Portal</h1>
    <button class="border big" disabled><i class="fas fa-file-import fa-2x"></i></button>
  </div>
  <ag-grid-angular *ngIf="selectedTab === 'Relations' && !!relationData"
                    style="width: 100%; height: 100%"
                    class="ag-theme-alpine"
                    [columnDefs]="relationColumnDefs"
                    [defaultColDef]="defaultColDef"
                    [rowData]="relationData"
                   (rowClicked)="onRowClicked($event)"
                    [rowSelection]="'single'"
                    [animateRows]="true">
  </ag-grid-angular>
  <ag-grid-angular *ngIf="selectedTab === 'Registrations' && !!registrationData"
                   style="width: 100%; height: 100%"
                   class="ag-theme-alpine"
                   (rowClicked)="onRowClicked($event)"
                   [columnDefs]="registrationColumnDefs"
                   [defaultColDef]="defaultColDef"
                   [rowData]="registrationData"
                   [rowSelection]="'single'"
                   [animateRows]="true">
  </ag-grid-angular>
  <div class="tab-container flex p-l-50">
    <div class="tab m-r-10" *ngFor="let tab of tabs" [class.active]="selectedTab === tab" (click)="selectedTab=tab">
      {{ tab }}
    </div>
  </div>
</div>

<div class="right-panel" *ngIf="!!selectedRelation">
  <ffn-relation-detail [relation]="selectedRelation"></ffn-relation-detail>
</div>
