<ng-container *ngIf="!!applicantsList">
  <div class="ellipsis">{{  applicant.ffnId + ' - ' + applicant.name.fullName }}</div>
  <i class="fa-solid fa-star selected" *ngIf="score?.favourite"></i>
</ng-container>
<ng-container *ngIf="!applicantsList">
  <div class="left-side">
    <div class="ellipsis text-left">{{  applicant.ffnId + ' - ' + applicant.name.fullName }}</div>
  </div>
  <ng-container *ngFor="let category of categories">
    <div *ngFor="let sub of category.subs" class="score">
      {{ !!score && score.subScores[ sub.id ].score !== null && score.subScores[ sub.id ].score !== undefined ? score.subScores[ sub.id ].score : '-' }}
    </div>
  </ng-container>
  <div class="score">
    {{ !!score ? score.total : '0.00' }}
  </div>
</ng-container>
