@import 'variables';

:host {
  overflow: hidden;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 400px;
  margin: auto;

  .content {
    background-color: #FFFFFF;
    margin: 50px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    .body {
      padding: 0 15px;
      text-align: justify;
      text-justify: inter-word;

      form {
        padding-top: 10px;

        input {
          margin-bottom: 10px;
          border: none;
          border-bottom: 1px solid $secondary;
          padding: 5px;
          transition: border 500ms ease-out;

          ::placeholder {
            color: $secondary;
            opacity: 1;
          }

          :-ms-input-placeholder {
            color: $secondary;
          }

          ::-ms-input-placeholder {
            color: $secondary;
          }

          &:focus {
            outline: none;
            border-color: $primary;
          }
        }

        .error-message {
          margin-bottom: 10px;
          text-align: center;
          color: red;
        }
      }
    }

    .footer {
      margin-top: 15px;
      display: flex;

      button {
        flex: 0 0 50%;
      }
    }
  }
}
