<div class="content">
  <h4>Reset password</h4>
  <div class="body">
    Enter the email address you signed up with. We'll send you an email with a link to reset your password.
    <form class="flex flex-column">
      <input type="email" name="email" [(ngModel)]="email" placeholder="email">
      <div class="error-message" *ngIf="!!error">
        {{error}}
      </div>
    </form>
  </div>
  <div class="footer">
    <button type="button" class="secondary" (click)="close()" >Cancel</button>
    <button type="button" (click)="send()">Send</button>
  </div>
</div>
