@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .header {
    background-color: $black;
    color: $primary;
    font-weight: bold;
    flex: 0 0 38px;

    .placeholder {
      flex: 0 0 200px;
      padding: 0 10px 0 20px;
    }

    .completed-bar {
      flex: 0 0 10px;
      background-color: $primary;
      height: 100%;
      margin-right: 3px;
    }
  }

  .first-column {
    z-index: 1;
    flex: 0 0 200px;
    box-shadow: 3px 0 8px -2px rgb(0 0 0 / 33%);
    overflow-x: hidden;

    .cell {
      border-right: none;
      padding: 0 10px 0 20px;
      border-right: 1px solid $black;
    }
  }

  .cell {
    display: flex;
    align-items: center;
    flex: 0 0 38px;
    padding: 0 10px;
    border-right: 1px solid $secondary;

    &.uneven {
      background-color: #fafafa;
    }

    &.completed {
      border-left: 10px solid $primary;
    }
  }
}
