<div class="content">
  <h4>{{ !!user ? 'Edit user' : 'Add new user' }}</h4>
  <div class="body">
    <form #form class="flex flex-column">
      <input class="special" type="email" name="email" [(ngModel)]="email" placeholder="email" required>
      <input type="text" name="name" [(ngModel)]="name" placeholder="name" required>
      <div class="error-message" *ngIf="!!error">
        {{error}}
      </div>
    </form>
  </div>
  <div class="footer">
    <button type="button" class="secondary" (click)="close()" >Cancel</button>
    <button type="button" (click)="confirm()" [disabled]="!this.email || !this.name">{{ !!user ? 'Edit user' : 'Add user' }}</button>
  </div>
</div>
