<div class="left-panel">
  <div class="header">
    <img class="logo" src="assets/svg/future-for-nature-logo.svg">
    <div class="image-placeholder"></div>
  </div>
  <div class="list-tools">
    <div class="flex">
      <i class="fas fa-search"></i>
      <div class="flex-1 p-5"><ffn-search (searchTerm)="filterApplicationList($event)"></ffn-search></div>
      <i class="fa-solid fa-filter cursor-pointer"
         [class.active]="option !== 'Id' || order !== 'Ascending'"
         [popper]="tooltipcontent"
         [popperHideOnClickOutside]="true"
         [popperApplyClass]="'popperSpecialSortStyle'"
         [popperApplyArrowClass]="'popperArrowStyle'"
         (click)="sortOnStar()"></i>
    </div>
    <div class="progress-bar">
      <div class="done" [style.width.%]="percentageComplete"></div>
      <span class="percentage">{{ percentageComplete + '%' }}</span>
    </div>
  </div>
  <div class="flex flex-column overflow-hidden flex-1">
    <div class="flex flex-column overflow-auto flex-1 applicant-list">
      <ffn-applicant-list-item
        *ngFor="let applicant of searchedApplications; let i = index"
        [applicant]="applicant"
        [score]="submittedScores[ applicant.id! ]"
        [index]="i + 1"
        [class.selected]="applicant.id === selectedApplication?.id"
        [class.completed]="!!submittedScores[ applicant.id! ] ? submittedScores[ applicant.id! ].submitted : false"
        [class.skipped]="!!submittedScores[ applicant.id! ] ? submittedScores[ applicant.id! ].skipped : false"
        [class.uneven]="i % 2 === 0"
        [class.selectable]="true"
        (click)="selectApplicant(applicant)">

      </ffn-applicant-list-item>
    </div>
    <div class="flex">
      <button (click)="logOff()" class="border small"><i class="fas fa-power-off"></i></button>
      <button (click)="openTour()" class="small"><i class="fas fa-question"></i></button>
      <button class="secondary flex-1" (click)="openAllScores()">Overall Scores</button>
    </div>
  </div>
</div>

<div class="flex flex-column flex-1 overflow-hidden">
  <div *ngIf="!selectedApplication" class="text-center p-50">Click on an applicant to start.</div>
  <ng-container *ngIf="selectedApplication">
    <div class="flex align-center justify-space-between app-header"
         [class.submitted]="!!submittedScores[ selectedApplication.id! ] ? submittedScores[ selectedApplication.id! ].submitted : false"
         [class.skipped]="!!submittedScores[ selectedApplication.id! ] ? submittedScores[ selectedApplication.id! ].skipped : false">
      <h1>Application:</h1>
      <h2>{{ selectedApplication.name.fullName + ' - ' + selectedApplication.ffnId }}</h2>
    </div>
    <div class="flex flex-1 overflow-hidden">
      <div class="flex flex-column flex-1 overflow-hidden">
        <ffn-application *ngIf="selectedApplication" [application]="selectedApplication"></ffn-application>
      </div>

      <div class="right-panel">
        <ffn-score-sheet *ngIf="selectedApplication" [application]="selectedApplication"></ffn-score-sheet>
      </div>
    </div>
  </ng-container>
</div>

<popper-content #tooltipcontent>
  <div class="sort-container p-10">
    <span class="bold">Sort by:</span>
    <ffn-select class="options" [options]="SORT_OPTIONS" [(option)]="option" (optionChange)="selectOption()"></ffn-select>
    <ffn-select class="order" [options]="ASC_OPTIONS" [(option)]="order" (optionChange)="selectSortOrder()"></ffn-select>
  </div>
  <div class="flex flex-column">
    <button (click)="clearSort()" [disabled]="option === 'Id' && order === 'Ascending'">Clear</button>
  </div>
</popper-content>
