@import 'variables';

:host {
  display: flex;
  flex: 0 0 100%;
  overflow: hidden;
  max-width: 100%;

  .top-panel {
    flex: 0 0 131px;
    display: flex;
    overflow: hidden;
  }

  .left-panel {
    overflow-x: hidden;

    .list-tools {
      display: flex;
      flex: 0 0 50px;
      flex-direction: column;
      overflow: hidden;
      border-bottom: 1px solid black;

      i {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.active {
          color: $primary;
          background-color: $black;
        }

        &.disabled {
          color: $disabled;
        }
      }

      .progress-bar {
        flex: 0 0 20px;
        position: relative;

        .done {
          height: 100%;
          background-color: #b3d33b;
          transition: width 300ms;
        }

        .percentage {
          position: absolute;
          right: 3px;
          top: 0;
        }
      }
    }
  }

  .right-panel {
    flex: 0 0 230px;
  }

  .border-right {
    width: 50px;
    display: flex;
    justify-content: center;
    border-right: 1px solid $secondary;
  }

  .details {
    position: absolute;
    left: 20%;
    top: 67px;
    width: 80%;
    background-color: white;
    box-shadow: inset 1px 0px 14px -3px #000000;
  }

  button {
    &.small {
      flex: 0 0 35px;
    }
    &.border {
      border-right: 1px solid $black;
    }
  }

  .sort-container {
    min-width: 120px;
  }
}
