<div class="left-panel">
  <div class="header">
    <img class="logo" src="assets/svg/future-for-nature-logo.svg">
    <div class="image-placeholder"></div>
  </div>
  <div class="list-tools">
    <i class="fas fa-search"></i>
    <div class="flex-1 p-5"><ffn-search (searchTerm)="filterApplicationList($event)"></ffn-search></div>
    <i class="fas cursor-pointer" (click)="sortOnStatus()"
       [class.fa-arrow-down-wide-short]="statusSort !== 'desc'"
       [class.fa-arrow-up-wide-short]="statusSort === 'desc'"
       [class.active]="!!statusSort"
       [class.disabled]="starSort"
    ></i>
    <i class="fa-solid fa-star cursor-pointer" [class.active]="starSort"
       [class.disabled]="!!statusSort" (click)="sortOnStar()"></i>
  </div>
  <div class="flex flex-column overflow-hidden flex-1">
    <div class="flex flex-column overflow-auto flex-1 applicant-list">
      <ffn-applicant-list-item
        *ngFor="let applicant of searchedApplications; let i = index"
        [applicant]="applicant"
        [score]="submittedScores[ applicant.id! ]"
        [class.selected]="applicant.id === selectedApplication?.id"
        [class.completed]="submittedScores[ applicant.id! ]?.submitted"
        [class.skipped]="submittedScores[ applicant.id! ]?.skipped"
        [class.uneven]="i % 2 === 0"
        [class.selectable]="true"
        (click)="selectApplicant(applicant)">

      </ffn-applicant-list-item>
    </div>
    <div class="flex">
      <button (click)="logOff()" class="border small"><i class="fas fa-power-off"></i></button>
      <button (click)="openTour()" class="small"><i class="fas fa-question"></i></button>
      <button class="secondary flex-1" (click)="openAllScores()">Overall Scores</button>
    </div>
  </div>
</div>

<div class="flex flex-column flex-1 overflow-hidden">
  <div *ngIf="!selectedApplication" class="text-center p-50">Click on an applicant to start.</div>
  <ng-container *ngIf="selectedApplication">
    <div class="flex align-center justify-space-between app-header"
         [class.submitted]="submittedScores[ selectedApplication.id! ].submitted"
         [class.skipped]="submittedScores[ selectedApplication.id! ].skipped">
      <h1>Application:</h1>
      <h2>{{ selectedApplication?.name?.fullName + ' - ' + selectedApplication?.ffnId }}</h2>
    </div>
    <div class="flex flex-1 overflow-hidden">
      <div class="flex flex-column flex-1">
        <ffn-application *ngIf="selectedApplication" [application]="selectedApplication"></ffn-application>
      </div>

      <div class="right-panel">
        <ffn-score-sheet *ngIf="selectedApplication" [application]="selectedApplication"></ffn-score-sheet>
      </div>
    </div>
  </ng-container>
</div>
