:host {
  overflow: hidden;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 600px;
  margin: auto;

  .content {
    background-color: #FFFFFF;
    margin: 50px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    .label {
      flex: 0 0 100px;
    }

    .footer {
      margin-top: 15px;
      display: flex;

      button {
        flex: 0 0 50%;
      }
    }
  }
}
