@import "variables";

button {
  border: none;
  background-color: $primary;
  padding: 10px;
  color: $black;
  cursor: pointer;
  font-weight: bold;
  margin: 0;

  &.secondary {
    background-color: $black;
    color: $primary;
  }

  &.error {
    background-color: #8E1616;
    color: $white;
  }

  &:disabled {
    opacity: 0.6;
  }

  &.bare {
    background-color: transparent;
    color: $primary;

    &:hover {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
