@import "variables";

* {
  box-sizing: border-box;
}

html, body {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: contain;
  color: $black;
  font-family: "Roboto", sans-serif;
}

*:focus {
  outline: none;
}

h1, h2, p {
  margin: 0;
}

.capitalize-first:first-letter {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

$spaceamounts: (0, 3, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {

  .m-#{$space} {
    margin: #{$space}px;
  }

  .p-#{$space} {
    padding: #{$space}px;
  }
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px;
    }
  }
}

$widths: (5, 10, 20, 25, 30, 40, 50, 60, 70, 75, 80, 90, 100);

@each $width in $widths {
  .w-#{$width} {
    width: $width * 1%;
  }
}

.h-100 {
  height: 100%;
}

.mh-100 {
  max-height: 100%;
}

.display-none {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-end {
  justify-content: flex-end;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.flex-1 {
  flex: 1;
}

.flex-0-0 {
  flex: 0 0 auto;
}

.flex-50 {
  flex: 0 0 50%;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

i {
  &.toggle {
    opacity: 0.3;
    flex: 0 0 20px;
    align-items: center;
    justify-content: center;
    display: flex;

    &.active {
      opacity: 1;
    }
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.app-header {
  background-color: $black;
  color: $primary;
  padding: 15px;

  &.submitted {
    color: $black;
    background-color: $primary;
  }

  &.skipped:not(.submitted) {
    background-color: grey;
  }
}

.popperSpecialStyle {
  background-color: white;
  border: none !important;
  border-radius: 0 !important;
}

.popperSpecialSortStyle {
  background-color: white;
  border: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.popperSpecialPaddingStyle {
  background-color: white;
  border: none !important;
  border-radius: 0 !important;
  padding: 10px 0 !important;
  margin-top: 0 !important;
  z-index: 1;
}

.popperArrowStyle {
  border-color: transparent !important;
}

.text-underline {
  text-decoration: underline;
}

.selected {
  color: $primary;
}

