/* You can add global styles to this file, and also import other style files */

@import "node_modules/ngx-modalview/styles/ngx-modal.css";
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import "variables";

@import 'general';
@import "panels";
@import "input";
@import "button";
@import "shepherd-overides";
@import "form";
@import "card";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
