@import "~src/styles/variables";

:host {
  display: flex;
  flex-direction: column;

  .first-column {
    flex: 0 0 20%;
    z-index: 1;
    border-right: 1px solid $black;
    box-shadow: 3px 0 8px -2px rgb(0 0 0 / 33%);

    .cell {
      border-right: none;
      padding: 0 10px 0 20px;
    }
  }

  .cell {
    display: flex;
    align-items: center;
    flex: 0 0 38px;
    padding: 0 10px;
    border-right: 1px solid $secondary;

    &.header {
      background-color: $black;
      color: $primary;
      font-weight: bold;
    }

    &.uneven {
      background-color: #fafafa;
    }

    &.completed {
      border-left: 10px solid $primary;
    }
  }
}
