<div class="flex align-center justify-space-between app-header">
  <h1 *ngIf="!selectedUser">Scores overview</h1>
  <h1 *ngIf="!!selectedUser" class="flex align-center"><i class="fas fa-angle-left cursor-pointer m-r-10" (click)="deselectUser()"></i> Score overview for {{ selectedUser.name }}</h1>
</div>
<div class="flex p-15 flex-1 overflow-hidden flex-column" *ngIf="!selectedUser">
  <div class="header flex">
    <div class="placeholder"></div>
    <div *ngFor="let user of users"
         class="flex flex-1 cursor-pointer align-center justify-center overflow-hidden"
         [class.completed]="user.submitted"
         (click)="selectUser(user)">
      <div *ngIf="user.submitted" class="completed-bar"></div>
      <div class="text-center ellipsis">
        {{user.name}}
      </div>
    </div>
    <div class="flex flex-1 align-center justify-center text-center ellipsis">Average</div>
  </div>
  <div class="content flex flex-column overflow-auto">
    <div class="flex">
      <div class="flex flex-column first-column">
        <div *ngFor="let applicant of applicants; let i = index" class="cell" [class.uneven]="i % 2 === 0">
          <div class="text-left ellipsis">
            {{applicant.name.fullName}}
          </div>
        </div>
      </div>
      <div *ngFor="let user of users" class="flex flex-column flex-1">
        <div *ngFor="let applicant of applicants; let i = index"
             class="cell justify-center"
             [class.uneven]="i % 2 === 0">
          {{ !!this.scores[ user.uid! ][ applicant.id! ] ? this.scores[ user.uid! ][ applicant.id! ].total : '-' }}
        </div>
      </div>
      <div class="flex flex-column flex-1">
        <div *ngFor="let applicant of applicants; let i = index" class="cell justify-center" [class.uneven]="i % 2 === 0">
          {{ this.totalScores[ applicant.id! ] / this.users.length | number: '1.2-2' }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex p-15 flex-1 overflow-hidden flex-column" *ngIf="!!selectedUser">
  <ffn-applicant-score-overview class="flex-1" [applicants]="applicants!" [scores]="userScores!"></ffn-applicant-score-overview>
  <div class="flex p-30 flex-end">
    <button (click)="showNotCorrectApplicants(selectedUser.uid!)" *ngIf="selectedUser">Users not correct</button>
    <button (click)="desubmitScores()" *ngIf="selectedUser.submitted">Reopen submitted scores</button>
    <button (click)="exportAsCsv()">Export scores for user</button>
  </div>
</div>
