<div class="header">
  <div class="placeholder"></div>
  <div class="score">1.1</div>
  <div class="score">1.2</div>
  <div class="score">1.3</div>
  <div class="score">2.1</div>
  <div class="score">2.2</div>
  <div class="score">3.1</div>
  <div class="score">3.2</div>
  <div class="score">total</div>
</div>
<div class="table-content">
  <ffn-applicant-list-item
    *ngFor="let applicant of applicants; let i = index"
    [applicantsList]="false"
    [applicant]="applicant"
    [score]="scores[ applicant.id! ]"
    [class.uneven]="i % 2 === 0">
  </ffn-applicant-list-item>
</div>
