<div class="content">
  <i class="fas fa-times" (click)="close()"></i>
  <h1 class="p-15">
    Overall scores
  </h1>

  <ffn-applicant-score-overview *ngIf="applicants && scores" [applicants]="applicants" [scores]="scores"></ffn-applicant-score-overview>

  <div class="footer" *ngIf="user" [class.submitted]="user.submitted">
    <button *ngIf="!user.submitted" [disabled]="!readyToSubmit" (click)="submitScores()">Submit scores</button>
    <span class="flex align-center justify-center bold" *ngIf="user.submitted">Scores submitted</span>
  </div>
</div>
