:host {
  width: 100%;

  .bg-img {
    background-image: url('~src/assets/img/jaguar-ffn.png');
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;

    .logo {
      width: 100px;
      background-color: white;
    }
  }

  .card-container {
    display: flex;
    width: 50%;
    flex: 0 0 250px;
    overflow: hidden;
  }
}
