<div class="content">
  <h4>Select applications</h4>
  <div class="flex flex-wrap justify-center overflow-auto">
    <div *ngFor="let application of applications"
         class="applicant flex cursor-pointer m-r-10 align-center overflow-hidden"
         (click)="selectApplication(application)">
      <i class="fas fa-square-check m-r-5" *ngIf="application.checked === 'yes'"></i>
      <i class="fas fa-square m-r-5" *ngIf="application.checked === 'no'"></i>
      <div class="ellipsis">{{  application.ffnId + ' - ' + application.name.fullName }}</div>
    </div>
  </div>
  <div class="footer">
    <button type="button" class="secondary" (click)="cancel()" >Cancel</button>
    <button type="button" (click)="confirm()">Continue</button>
  </div>
</div>
