<div class="left-panel">
  <div class="header">
    <img class="logo" src="assets/svg/future-for-nature-logo.svg">
    <div class="image-placeholder"></div>
  </div>
  <div class="flex flex-column flex-1 justify-space-between">
    <div class="flex flex-column">
      <div class="card">
        <div class="title">Upload new applications</div>
        <div class="flex">
          <input type="file" class="special" #fileInput name="applications" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" (change)="uploadNewApplicants($event, fileInput)">
          <div class="flex align-center">
            <i class="fas fa-spinner fa-pulse cursor-pointer" *ngIf="uploading"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="flex">
      <button class="secondary flex-1" (click)="logOut()"><i class="fas fa-power-off m-r-10"></i>Log Out</button>
      <button (click)="back()" class="flex-1"><i class="fas fa-angle-left m-r-10"></i>Back</button>
    </div>
  </div>
</div>

<div class="flex flex-column flex-1 overflow-hidden">
  <ffn-user-scores-overview></ffn-user-scores-overview>
</div>
