<p class="m-b-5 bold">{{ category.name }}</p>
<ffn-score-input *ngFor="let subCategory of category.subs"
                 [scoreCategory]="subCategory"
                 [subScore]="score.subScores[ subCategory.id ]"
                 [canScore]="!score.submitted && !score.skipped && canEdit"
                 [applicantId]="score.applicationId"
                 (scoreChanged)="updateSubTotal()"></ffn-score-input>
<div class="flex flex-end">
  <div class="sub-total">{{ this.subTotal }}</div>
</div>
