<div class="flex flex-column p-10 overflow-hidden">
  <h1 class="m-b-10 flex justify-space-between">
    Scores
    <i class="fa-regular fa-star cursor-pointer" *ngIf="!score?.favourite" (click)="toggleFavourite()"></i>
    <i class="fa-solid fa-star selected cursor-pointer" *ngIf="score?.favourite" (click)="toggleFavourite()"></i>
  </h1>
  <div *ngIf="score" class="flex flex-column overflow-auto">
    <ffn-score-category *ngFor="let category of categories"
                        [category]="category"
                        [score]="score"
                        [canEdit]="canEdit"
                        (categoryChanged)="calculateTotal()">
    </ffn-score-category>
  </div>
  <div class="flex justify-space-between total m-t-10" *ngIf="score">
    <div>Total score:</div>
    <div class="value">{{ score.total }}</div>
  </div>
  <div class="flex flex-end m-t-5">
    <div class="cursor-pointer text-underline text-link"
         (click)="resetScores()"
         *ngIf="score" [class.disabled]="score.pristine">Reset scores</div>
  </div>
  <p class="m-t-20 bold">Comments</p>
  <textarea rows="5"
            [disabled]="!canEdit"
            [(ngModel)]="score.comments"
            *ngIf="score"
            (blur)="updateComments()"
  ></textarea>
</div>
<div class="flex flex-column" *ngIf="canEdit">
  <button *ngIf="!score?.submitted && !score?.skipped" (click)="skipScores()" class="secondary">Skip</button>
  <button *ngIf="!score?.submitted && !score?.skipped" (click)="submitScores()" [disabled]="!canSubmit">{{ 'Submit Scores'}}</button>
  <button *ngIf="score?.submitted || score?.skipped" (click)="editScores()">{{ 'Edit'}}</button>
</div>
