@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .total {
    border-top: 1px solid black;

    .value {
      flex: 0 0 50px;
      text-align: center;
    }
  }

  .text-link {
    color: $primary;
    font-size: 12px;

    &.disabled {
      color: #dddedf;
    }
  }
}
