@import 'variables';

:host {
  overflow: hidden;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: auto;

  .content {
    background-color: #FFFFFF;
    margin: 50px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    .footer {
      margin-top: 15px;
      display: flex;

      button {
        flex: 0 0 50%;
      }
    }

    form {
      background-color: white;
      padding: 20px;
      width: 100%;

      .form-lane {
        flex: 1 1 25%;
      }
    }
  }
}
